

<mat-drawer-container fullscreen>
    <mat-drawer #drawer mode="over">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="menu icon" (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span [routerLink]="['/']" (click)="drawer.toggle()"  >Rick And Morty App</span>
        </mat-toolbar>
   
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-raised-button color="primary" [routerLink]="['/favorites']" (click)="drawer.toggle()" >Favorites</button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
  
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon" (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
        </button>   
        <span [routerLink]="['/']" >Rick And Morty App</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  
</mat-drawer-container>


