
<div fxLayout="row wrap"
    fxLayoutGap="20px"
    fxLayoutAlign="center center" >

<div >

   <mat-card class="example-card">
       <mat-card-header>

           <mat-card-title fxLayout="row" fxLayoutAlign="center center">
               {{item?.name}}
               <button mat-icon-button color="warn" aria-label="heart icon" (click)="changeFavorite(item.id)">
                    <mat-icon [ngStyle]="{'color': isFavorite? 'red':'gray'}">favorite</mat-icon>
               </button>
           </mat-card-title>
           
           <mat-card-subtitle>{{item?.species}}</mat-card-subtitle>
       </mat-card-header>
       <img mat-card-image src={{item?.image}} alt={{item?.name}}  >
   </mat-card>
</div>

</div>
